.contents {
  position: relative;
  margin-top: $header-height;
}

.my-editing-area {
  position: relative;
  min-height: 200px
}

.tool-bar {
  padding: 0.55em;
  border-bottom: 1px solid #cccccc;
}